<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css"> 
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Hey! Looking for details? Well, I am Aman Saxena. </p>
        <p>This is a Nodejs Web Application built on Express Engine. It uses data from OpenWeatherMap API.</p>
        <img class="portrait" src="/img/me.jpeg">
    </div>
    
    {{>footer}}
</body>

</html>